<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kexts</key>
	<array>
		<string>VirtualSMC.kext</string>
		<string>RealtekRTL8111.kext</string>
		<string>Lilu.kext</string>
		<string>WhateverGreen.kext</string>
		<string>AirportBrcmFixup.kext</string>
		<string>SMCBatteryManager.kext</string>
		<string>VoodooPS2Controller.kext</string>
	</array>
</dict>
</plist>
