<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kexts</key>
	<array>
		<string>FakeSMC.kext</string>
		<string>ACPIBatteryManager.kext</string>
		<string>FakePCIID.kext</string>
		<string>FakePCIID_Intel_HD_Graphics.kext</string>
		<string>FakePCIID_Intel_HDMI_Audio.kext</string>
		<string>FakePCIID_Broadcom_WiFi.kext</string>
		<string>IntelGraphicsFixup.kext</string>
		<string>CodecCommander.kext</string>
		<string>USBInjectAll.kext</string>
		<string>AppleBacklightInjector.kext</string>
	</array>
</dict>
</plist>
